.card {
  width: 400px;
  background: #ffffff;
  border: 3px solid #007acc;
  border-radius: 15px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.avatar {
  width: 100px;
  border-radius: 50%;
  border: 3px solid #007acc;
}

#name {
  color: #008000;
  font-weight: bold;
}

.quote {
  border: 2px dotted rgb(0, 122, 204);
}
